/* ============================= */
/*         CONTACT FORM           */
/* ============================= */

/* Style input fields and textarea within the contact form */
input[type=message], input[type=email], input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style the submit button */
button[type=submit] {
  background-color: white;
  width: 100%;
  color: #31333F;
  padding: 12px 20px;
  border: 1px solid #D6D6D8;
  border-radius: 10px;
  cursor: pointer;
}

/* Change submit button border color and text color on hover */
button[type=submit]:hover {
  border-color: #ec5a53;
  color: #ec5a53;
}

/* ============================= */
/*       STREAMLIT BRANDING       */
/* ============================= */

/* Hide Streamlit Branding elements */
MainMenu {
  visibility: hidden;
}

footer {
  visibility: hidden;
}

header {
  visibility: hidden;
}

/* ============================= */
/*        CONTACT ICONS           */
/* ============================= */

/* Style the container for contact icons */
.contact-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

/* Style individual contact icons */
.contact-icons a {
  color: #000;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Change icon color on hover */
.contact-icons a:hover {
  color: #0073b1;
}

/* Specific hover color for LinkedIn */
.contact-icons a.linkedin:hover {
  color: #0077b5;
}

/* Specific hover color for GitHub */
.contact-icons a.github:hover {
  color: #333;
}

/* Specific hover color for Medium */
.contact-icons a.medium:hover {
  color: #00ab6c;
}

/* Specific hover color for YouTube */
.contact-icons a.youtube:hover {
  color: #ff0000;
}

/* Specific hover color for Google Scholar */
.contact-icons a.scholar:hover {
  color: #4285f4;
}

/* Specific hover color for Source */
.contact-icons a.source:hover {
  color: #921888;
}

/* ============================= */
/*       WORK EXPERIENCE          */
/* ============================= */

/* Style the container for the timeline */
.timeline-container {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Style the timeline */
.timeline {
  position: relative;
  padding: 20px 0;
  margin: 20px 0;
  border-left: 3px solid #007bff;
}

/* Style individual timeline items */
.timeline-item {
  position: relative;
  padding: 20px 20px 20px 40px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

/* Change background and text color on hover for timeline items */
.timeline-item:hover .content {
  background-color: #007bff;
  color: #fff;
}

/* Specific hover style for Fineco timeline items */
.timeline-item.fineco:hover .content {
  background-color: #FDC82F;
  color: #01549F;
}

/* Style the circular markers on the timeline */
.timeline-item .circle {
  position: absolute;
  top: 20px;
  left: -13px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #007bff;
  border: 3px solid #fff;
  transition: background-color 0.3s ease;
}

/* Highlight the circle marker for the current employment */
.timeline-item.current .circle {
  background-color: #ff6347;
}

/* Style the content within timeline items */
.timeline-item .content {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Specific style for Fineco timeline content */
.timeline-item.fineco .content {
  color: #FDC82F;
  background-color: #01549F;
}

/* Style the icons within the content */
.timeline-item .content .icons {
  margin-top: 10px;
}

.timeline-item .content .icons i {
  margin-right: 10px;
  color: #007bff;
  font-size: 18px;
  transition: color 0.3s ease;
}

/* Specific style for Fineco icons */
.timeline-item.fineco .content .icons i {
  color: #FDC82F;
}

/* Change icon color on hover */
.timeline-item:hover .content .icons i {
  color: #fff;
}

/* Specific hover style for Fineco icons */
.timeline-item.fineco:hover .content .icons i {
  color: #01549F;
}

/* Style the headings within the content */
.timeline-item .content h3 {
  margin: 0 0 5px 0;
  color: #007bff;
  transition: color 0.3s ease;
}

/* Change heading color on hover */
.timeline-item:hover .content h3 {
  color: #fff;
}

/* Specific style for Fineco headings */
.timeline-item.fineco .content h3 {
  margin: 0 0 5px 0;
  color: #FDC82F;
  transition: color 0.3s ease;
}

/* Specific hover style for Fineco headings */
.timeline-item.fineco:hover .content h3 {
  color: #01549F;
}

/* Style the date text within the content */
.timeline-item .content span {
  font-size: 14px;
  color: #888;
  transition: color 0.3s ease;
}

/* Change date text color on hover */
.timeline-item:hover .content span {
  color: #ddd;
}

/* Specific style for Fineco date text */
.timeline-item.fineco .content span {
  font-size: 14px;
  color: #FDC82F;
  transition: color 0.3s ease;
}

/* Specific hover style for Fineco date text */
.timeline-item.fineco:hover .content span {
  color: #01549F;
}

/* Style the list items within the content */
.timeline-item .content li {
  margin: 10px 0px 10px 10px;
  color: #333;
  line-height: 1.6;
  transition: color 0.3s ease;
}

/* Change list item color on hover */
.timeline-item:hover .content li {
  color: #fff;
}

/* Specific style for Fineco list items */
.timeline-item.fineco .content li {
  margin: 10px 0px 10px 10px;
  color: #FDC82F;
  line-height: 1.6;
  transition: color 0.3s ease;
}

/* Specific hover style for Fineco list items */
.timeline-item.fineco:hover .content li {
  color: #01549F;
}


/* Style for company logos */
.company-logo {
  max-width: 100px; /* Adjust the size as needed */
  margin-bottom: 10px; /* Space between the logo and the heading */
  display: block;
  border-radius: 10px;
}
